git+https://github.com/obsei/obsei@master#egg=obsei[all]
streamlit
trafilatura
tornado>=6.3.2 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
