git+https://github.com/obsei/obsei@master#egg=obsei[all]
streamlit
trafilatura
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
ipython>=8.10.0 # not directly required, pinned by Snyk to avoid a vulnerability
jupyter-core>=4.11.2 # not directly required, pinned by Snyk to avoid a vulnerability
mistune>=2.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
nbconvert>=6.3.0b0 # not directly required, pinned by Snyk to avoid a vulnerability
notebook>=6.4.12 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.21.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=9.2.0 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
