# PyTorch
--find-links=https://download.pytorch.org/whl/torch_stable.html
vaderSentiment
searchtweets-v2
pytz
atlassian-python-api
elasticsearch
pydantic
python-dateutil
SQLAlchemy
google-play-scraper
app-store-reviews-reader
reddit-rss-reader
praw
mmh3
beautifulsoup4
slack-sdk
sentencepiece
pandas
nltk
dateparser

## GPL dependencies (these are optional)
# trafilatura