# PyTorch
--find-links=https://download.pytorch.org/whl/torch_stable.html
torch
vaderSentiment
transformers
searchtweets-v2
pytz
atlassian-python-api
elasticsearch
pydantic
python-dateutil
SQLAlchemy
google-api-python-client
google-play-scraper
app-store-reviews-reader
reddit-rss-reader
praw
mmh3
beautifulsoup4
slack-sdk
sentencepiece>=0.1.97
presidio-analyzer
presidio-anonymizer
pandas
nltk
gnews
python-facebook-api
dateparser

## GPL dependencies (these are optional)
# trafilatura