name: Publish Conda Package

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.7, 3.8, 3.9]
    env:
      ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
    name: ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup conda
        uses: s-weigand/setup-conda@v1
        with:
          update-conda: true
          python-version: ${{ matrix.python-version }}
          conda-channels: anaconda, conda-forge, lalitpagaria, huggingface
      - run: |
          conda --version
          which python
          conda install -y anaconda-client conda-build conda-verify
          cd conda
          conda build --output-folder . .
          conda convert -p osx-64 linux-64/*.tar.bz2
          conda convert -p win-64 linux-64/*.tar.bz2
          anaconda upload --label main osx-64/*.tar.bz2
          anaconda upload --label main linux-64/*.tar.bz2
          anaconda upload --label main win-64/*.tar.bz2
